.product {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #efefef;
  margin: 0 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 3px 8px;
  transition: 300ms;
}
.product:hover {
  box-shadow: rgba(0, 0, 0, 0.171) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.158) 0px 4px 6px -2px;
}

.product-img {
  height: 25rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
}

.product .product-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .product-details .product-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}
.product .product-details .price {
  font-size: 2.1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.product .product-details div {
  display: flex;

  flex-direction: column;
  gap: 1.5rem;
}
.product .product-details .btn-div {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.product .cart-Btn {
  padding: 0.3rem;
  border: 2px solid #929292;
  border-radius: 0.3rem;
}

.product .product-details div div {
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .product-img {
    height: 20rem;
  }
}
@media screen and (max-width: 720px) {
  .product-img {
    height: 16rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .product-img {
    height: 14rem;
    margin-bottom: 0.5rem;
  }
}
