nav {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 200;
  transition: 300ms;
  box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0);
}

.active {
  box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.14);
}
nav .logo {
  font-size: 2.2rem;
  cursor: pointer;
  font-weight: 600;
}
nav .links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
}
nav .links .link a {
  font-weight: 500;
  color: var(--light-font);
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
}
nav .nav-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
nav .nav-fields form {
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  background-color: var(--light-white);
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--vlight-font);
  font-size: 2.2rem;
  /* border: 1px solid var(--vlight-font); */
}
nav .nav-fields form input {
  height: -webkit-fill-available;
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
  font-size: 1.6rem;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
  color: var(--light-font);
}
nav .menu-icons {
  display: none;
}
nav .nav-fields .cart-Btn {
  position: relative;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  border: 2px solid transparent;
  cursor: pointer;
  color: var(--light-font);
  transition: 300ms all;
}
nav .nav-fields .cart-Btn:hover {
  border: 2px solid var(--vlight-font);
}

.cart-num {
  top: -1rem;
  right: -1rem;
  font-size: 1.2rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  background-color: rgb(255, 100, 100);
}

.search-div {
  width: 100%;
  left: 0;
  max-height: 80vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  position: absolute;
  background-color: white;
  color: black;
  top: 8rem;
  padding: 1rem 2rem;
}

.search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--vlight-font);
}
.search-cont {
  border: 2px solid var(--vlight-font);
  width: 10rem;
  height: 10rem;
  border-radius: 0.8rem;
  height: 10rem;
}
.search-item img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.search-item h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
  color: var(--dark-font);
}
.search-item h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
  color: var(--dark-font);
}
.search-item p {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--vlight-font);
}

@media screen and (max-width: 800px) {
  nav .menu-icons {
    display: flex;
  }
  nav .links {
    position: absolute;
    right: -100%;
    top: 12vh;
    height: fit-content;
    background-color: white;
    padding: 5rem 1rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 0;
    width: 40%;
    overflow: scroll;
    transition: 300ms ease;
  }
  nav .show-nav {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .search-div {
    grid-template-columns: repeat(3, 1fr);
  }
  nav {
    width: 100%;
    padding: 1rem 2rem;
    gap: 1rem;
  }
  nav .menu-icons {
    display: flex;
  }
  nav .links {
    width: 75%;
    height: 90vh;
  }
}
