@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --white: #ffffff;
  --light-white: #f2f3f7;
  --vlight-white: #707781;
  --dark-font: #1d242d;
  --light-font: #1d242d;
  --vlight-font: #b8bec5;
}

* {
  box-sizing: border-box;
  padding: 0;
  transition: background-color 200ms;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.app {
  min-height: 100vh;
  margin-top: 8rem;
  overflow-x: hidden;
  color: var(--dark-font);
}

.title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: left;
}
.react-multiple-carousel__arrow {
  z-index: 99;
}
