@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-background: #141216;
  --secondary-background: #1d1b1f;
  --white-color: #ffffff;
  --primary-font: #dbd9dd;
  --secondary-font: #86848b;
  --special-color: #a590db;
}

* {
  box-sizing: border-box;
  padding: 0;
  transition: background-color 200ms;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.app {
  /* min-height: 100vh; */
  /* width: 100vw; */
  background-color: var(--primary-background);
  overflow-x: hidden;
  color: white;
}
